html,
body {
	margin: 0;
	padding: 0;

	background: #F8F8F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-family: 'Poppins', sans-serif;
	--background: #F8F8F8;
	--white: white;
	--black: #0C0C0C;
	--green: #42D373;
	--yellow: #DFE13E;
	--purple: #BC63E1;
	--grey: #9C9C9C;
	--orange: #E78A56;
	--blue: #2388E4;
}
